.code {
    color: green
}
.open::before {
    content: '<';
}
.open::after {
    content: '>';
}
.closed::before {
    content: '</';
}
.closed::after {
    content: '>';
}
.open, .closed {
    border: 1px solid black;
}